/* Begin: Menu Style */
* {
    box-sizing: border-box;
}

body {/
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(63, 191, 191, 0.4);
    margin: auto;
    max-width: 85em;
}

/* Style the header */
header {
    background-color: #3FBFBF;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: black;
}

/* Container for flexboxes */
section {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

/* Style the navigation menu */
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background color: aqua;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;

}

/* Style the content */
.article-group {
  flex-direction: : column;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: rgba(63, 191, 191, 0.4);
    /* padding: 10px; */

    max-width: 60em;
    clear: both;
}

.article-1 {
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 15px;
}

.pic {
  width: 100%;
  /*border box goes here*/
}


/* Style the footer */

.footer {
    background-color: #777;
    padding: 10px;
    text-align: left;
    color: white;

}

/* ===============================
Media Queries
=============================== */
@media (min-width: 675px) {
  .pic {
    width: 70%;
    max-width: 600px;
  }
}


@media (min-width:1025px) {

}

/* Responsive layout - menu and the content (inside the section) sit on top of each other instead of next to each other */

/* End: Menu Style */
