/* Begin: Menu Style */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(63, 191, 191, 0.4);
}

.style1 {
  background-color: rgba(63, 191, 191, 0.4);
}

/* Style the header */
header {
    background-color: #3FBFBF;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: black;
}

/* Container for flexboxes */
section {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

/* Style the navigation menu */
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background color: aqua;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

/* Style the content */
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
}

.pic {
  width: 100%;
  /*border box goes here*/
}


@media (min-width: 275px) {
  .pic {
    width: 80%;
    max-width: 600px;
  }
}


.pic 1 {
}

.pic 2 {
}

.pic 3 {
}


/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: left;
    color: white;
}

/* Responsive layout - menu and the content (inside the section) sit on top of each other instead of next to each other */

/* End: Menu Style */
